<!doctype html>
<html lang="en">
<head>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Space Register Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <title>登陆</title>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/system/loginback.css">
    <link rel="stylesheet" href="/static/css/system/loginForm.css">
</head>
<body>
<div id="wrapper">
    <canvas id="canvas" width="1950px" height="100vh"></canvas>
    <canvas id="canvasbg" width="1950px" height="100vh"></canvas>
</div>
<div class="w3layouts-main">
    <h2><span>Login</span></h2>
    <form action="#" method="post">
        <input placeholder="Login Name" name="Name" type="text" required="">
        <input placeholder="Password" name="Password" type="password" id="password" required="">
        <input type="submit" value="Get Started" name="login">
    </form>
</div>
<script src="/static/js/system/loginback.js"></script>

</body>
</html>
